.container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 8px;
    width: 100%;
    max-width: 432px;
    background-color: #eae7e7;
    cursor: pointer;
    margin: 2px 0 2px 0;
    border-radius: 5px;
}

.container:hover {
  background-color: #cccccc; /* or any grey color you prefer */
}


.avatar { 
    width:40px; 
    height:40px; 
    border-radius:50%; 
}

.text { 
    display:flex; 
    flex-direction:column; 
    gap:4px; 
}

.name { 
    font-size: var(--font-size-lg); 
}

.email { 
    font-size: var(--font-size-base); 
}