@import './variables.module.css';
* { box-sizing: border-box; margin: 0; padding: 0; }
html { font-family: var(--font-family-base); font-size: var(--font-size-base); }
body { background: var(--color-bg); color: var(--color-text); }